<style>

body {background-color: #000000;}
body {background-image: url(img/profile.png);}
body {background-size: contain;}
body {background-repeat: no-repeat;}

h1 {padding: 2%;}
h2 {padding: 2%;}

#buttons {padding: 2%}

</style>

<h1>Welcome, <%= session[:user_fullname] %> </h1>

<div id=buttons>

<button onclick="window.location.href = './deactivation';">Deactivation</button>
<button onclick="window.location.href = './createpost';">Create Database Entry</button>

</div>

<h2>Posts</h2>

<div id="profilePosts">

    
    <% @posts.each do |post| %>

   <div id="profilepostContent"> 

        <div id="postTitle">
        
        <h2><%= post.title %></h2>

        <p>Logged by <%= session[:user_fullname] %> on <%= post.time %> </p>

        </div>
        
        <div id="postContent">

        <h1><%= post.content %></h1>
        
        </div>
    
    </div>

    <% end %>

</div>